<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC13nSopfotwufd_Q2OVClbLKbxlqfnNg8</string>
	<key>GCM_SENDER_ID</key>
	<string>558580869354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.project.FishTank</string>
	<key>PROJECT_ID</key>
	<string>fishtank-186a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fishtank-186a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558580869354:ios:2630758fbe19d2d04ecf93</string>
</dict>
</plist>